---
import Layout from '../../layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import ContactForm from '~/components/widgets/ContactForm.astro';

import eventowyCover from '~/assets/images/covers/eventowy_cover.jpg';

const metadata = {
  title: 'Fotograf eventowy Kraków - ImprezowyFotograf',
  description: 'Fotografujemy na wszelkiego rodzaju wydarzeniach firmowych od imprez przez otwarcia nowych działów po bankiety i urodziny firmy.',
};
---

<Layout metadata={metadata}>
  <Hero
    image={{ 
      src: eventowyCover, 
      alt: 'Fotograf na event firmowy'
    }}
  >
    <Fragment slot="title">
      Fotograf na event firmowy
    </Fragment>
  </Hero>

  <section class="py-16 bg-white dark:bg-gray-900">
    <div class="container px-4 mx-auto">
      <div class="prose prose-lg dark:prose-invert max-w-none">
        <h2>Twoja firma organizuje urodziny, otwarcie biura, szkolenie lub wyjazd integracyjny? Zapraszamy do współpracy!</h2>
        <p>Oprócz konferencji i różnego rodzaju wydarzeń branżowych i międzybranżowych fotografujemy również eventy organizowane wewnątrz firm - urodziny firmy lub oddziału, otwarcie nowego biura, kursy, szkolenia, prelekcje i wykłady dla pracowników, a także wyjazdy integracyjne i wiele, wiele innych. Ze względu na duże zróżnicowanie tego typu wydarzeń, do każdego zapytania podchodzimy indywidualnie.</p>
        <p>Czas dostarczenia zdjęć również zależy od typu wydarzenia i zawsze jest możliwość dostosowania go do konkretnych wytycznych i oczekiwań klienta. Zwykle oddajemy zdjęcia w ciągu 24 do 72 godzin od zakończenia wydarzenia.</p>
        <p>Niewielu fotografów retuszuje skórę osób na zdjęciach eventowych, poniewaź retusz zabiera sporo czasu. My jednak wiemy jak ważny jest dobry wygląd osób na naszych zdjęciach i dlatego <strong>retuszujemy wszystkie zdjęcia</strong>!</p>
        <p>Eventy firmowe fotografujemy zwykle na terenie <strong>Krakowa</strong>, <strong>Tarnowa</strong>, <strong>Rzeszowa</strong>, <strong>Warszawy</strong>, <strong>Katowic</strong> oraz <strong>Kielc</strong>, ale dojeżdżamy na terenie całej <strong>Polski</strong>. Zdarza nam się również realizować reportaże poza granicami kraju. Miejsce nie ma dla nas znaczenia - dojedziemy lub doleci my tam, gdzie trzeba.</p>
        <p><strong>Nagrywamy także filmy!</strong> Oprócz reportażu fotograficznego w ofercie mamy również <strong>relacje wideo</strong>, <strong>teledyski</strong>, <strong>spoty promocyjne</strong>, <strong>rejestrację wywiadów i wypowiedzi</strong>, <strong>streaming live</strong> i inne formy filmowe. Zapraszamy do kontaktu!</p>
      </div>
    </div>
  </section>

  <!-- Contact Form -->
  <ContactForm
    formName="formularz-eventowy"
    title="Zarezerwuj fotografa na event firmowy"
    description="Wypełnij formularz, a skontaktujemy się z Tobą w sprawie fotografii eventowej."
  />
</Layout>
