---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <svg class="w-8 h-8 inline mr-2 mb-3" viewBox="487.424 274.432 1000 1000" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(-53.075756 -3.486792)">
      <g transform="translate(0.000001 0.000001)">
        <line x1="-81.373463" y1="0" x2="81.373463" y2="0" transform="translate(1081.71387 704.907577)" fill="none" stroke="currentColor" stroke-width="25" stroke-linecap="round"/>
        <rect width="72.483473" height="36.241736" rx="17" ry="17" transform="translate(685.117486 763.424246)" fill="currentColor" stroke-width="0"/>
        <path d="M1248.975277,786.35028l-23.7-82.5" fill="none" stroke="currentColor" stroke-width="25" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M1318.975277,833.35028l114.4-.5" fill="none" stroke="currentColor" stroke-width="25" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M931.975277,1208.35028c0,0-179.7.33868-230.2,0s-63.6-34.1662-63.6-60.5c0-76.16132,0-243.86132,0-351.4c0-21.26132,14.1-60.43868,62.3-66.1s139.25316-7.761872,188.1-11.1c28.7-1.96132,40.494405-15.740434,56.4-27.56132c10.7-22.43868,20.5-64.6,61.7-64.93868c44.5.33868,103.952607,0,144.4,0c42.189771,0,49.23264,14.054279,62.3,45.8c3.823813,9.289536,11.9,31.3,11.9,31.3l40.734506,8.437327c0,0,10.342939-31.131777,15.265494-43.037327c19.760546-5.33067,70.578697,3.3,86.9,11.90555c6.8,22.69445,7.272393,38.09445,8,49.19445c25.052419,9.73868,57.2,36.4,57.2,64.4c0,120.6-1.043068,247.393031-1.043068,353.1c0,33.966474-13.797345,60.5-47.156932,60.5-153.503691,0-9,.468446-153.5,0" transform="translate(0 -0.567083)" fill="none" stroke="currentColor" stroke-width="25" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M812.175277,763.98167c0,0,2.600001,69.368611-49.3,69.36861-34.30539-.000001-124.7,0-124.7,0" fill="none" stroke="currentColor" stroke-width="25" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M846.075277,833.35028c-12.174574,28.204135-61.774177,46.084168-63.092127,74c0,49.262518,0,227.9,0,255.5c0,14.9-18.075141,44.649452-18.075141,44.649452" transform="translate(0.000002 -0.073406)" fill="none" stroke="currentColor" stroke-width="25" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M915.975277,788.35028l29-97.2" fill="none" stroke="currentColor" stroke-width="25" stroke-linecap="round" stroke-linejoin="round"/>
        <ellipse rx="217.722214" ry="217.722214" transform="matrix(0.983796 0 0 0.976853 1082.815811 988.576659)" fill="none" stroke="currentColor" stroke-width="25"/>
        <ellipse rx="175.749596" ry="175.749596" transform="matrix(0.884278 0 0 0.884276 1081.71387 988.576659)" fill="none" stroke="currentColor" stroke-width="25"/>
        <path d="M971.727705,959.748244c4.07235,4.254393,36.113323-50.778491,76.639835-63.248187c25.471026-7.837239,13.25037-32.426311-21.132253-13.930163-25.89488,13.930163-60.602474,71.855705-55.507582,77.17835Z" transform="translate(-1 -3.135446)" fill="currentColor" stroke="currentColor" stroke-width="2.179072"/>
      </g>
      <g>
        <rect width="195.847881" height="66.42977" rx="18" ry="18" transform="matrix(0.983553 0 0 1.083389 986.502426 455.602184)" fill="#fab617" stroke-width="0"/>
        <rect width="264.88384" height="145.001068" rx="43" ry="43" transform="matrix(1.077589 0 0 0.989505 940.097855 419.847184)" fill="none" stroke="currentColor" stroke-width="25"/>
        <path d="M1031.475277,626.75028l-19.905433-66.4" transform="matrix(1.076655 0 0 0.910356 -78.351013 53.208221)" fill="none" stroke="currentColor" stroke-width="25" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M1128.675277,626.75028l19-66.4" transform="matrix(1.119586 0 0 0.910356 -133.109829 53.208221)" fill="none" stroke="currentColor" stroke-width="25" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <g transform="translate(0 0.000001)">
        <path d="M680.775277,663.35028c-1.100265,2.280451-133.878637-52.966128-133.878637-58.002379c0-5.862535,31.412148-42.02144,36.903595-42.02144c4.459618,0,98.732669,95.990927,96.975042,100.023819Z" transform="matrix(0.430693 -0.348449 0.399923 0.494316 341.461308 394.768444)" fill="#fab617" stroke-width="2.179072"/>
        <path d="M680.775277,663.35028c-1.100265,2.280451-130.397072-35.918903-130.397072-40.955154c0-5.862535,27.930583-59.068665,33.42203-59.068665c4.459618,0,98.732669,95.990927,96.975042,100.023819Z" transform="matrix(0.13667 -0.547744 0.512364 0.127842 478.902476 835.236576)" fill="#fab617" stroke-width="2.179072"/>
        <path d="M680.775277,663.35028c-1.100265,2.280451-132.695857-49.235241-132.695857-54.271492c0-5.862535,30.229368-45.752327,35.720815-45.752327c4.459618,0,98.732669,95.990927,96.975042,100.023819Z" transform="matrix(0.629483 0.082848 -0.09367 0.711709 548.243117 -98.844382)" fill="#fab617" stroke-width="2.179072"/>
        <path d="M680.775277,663.35028c-1.100265,2.280451-130.111541-44.613471-130.111541-49.649722c0-5.862535,27.645052-50.374097,33.136499-50.374097c4.459618,0,98.732669,95.990927,96.975042,100.023819Z" transform="matrix(-0.135159 0.556464 -0.655588 -0.159235 1775.872399 149.779325)" fill="#fab617" stroke-width="2.179072"/>
        <path d="M680.775277,663.35028c-1.100265,2.280451-125.1-45.463749-125.1-50.5c0-5.862535,25.501994-40.307524,30.993441-40.307524c4.459618,0,95.864186,86.774632,94.106559,90.807524Z" transform="matrix(-0.495136 0.339495 -0.380722 -0.555262 1854.166499 622.176173)" fill="#fab617" stroke-width="2.179072"/>
        <path d="M680.775277,663.35028c-1.100265,2.280451-130.341651-44.130287-130.341651-49.166538c0-5.862535,27.875162-50.857281,33.366609-50.857281c4.459618,0,98.732669,95.990927,96.975042,100.023819Z" transform="matrix(-0.541274 -0.056277 0.057705 -0.555011 1581.469147 956.61292)" fill="#fab617" stroke-width="2.179072"/>
      </g>
    </g>
  </svg>{SITE?.name}
</span>
